@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */
.navbar {
  background-color: #0000FF;
}

#logo {
  float: left;
  margin-top:10px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  font-style: italic; 
}

#logo:hover {
  color: 	#808080;
  text-decoration: none;
}

#header-list {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  font-style: italic; 
}

#header-list:hover {
  color: 	#808080;
  text-decoration: none;
}
/*ドロップダウン*/
.dropdown {
  color: #fff;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  font-style: italic; 
  
}

.dropdown:hover {
  background: transparent;
  color: 	#808080;
  text-decoration: none;
}

/*ヘッダーの中の文字の装飾*/
.dropdown-header {
  background-color: #808080;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 50%;
  margin-top: 45px;
  margin-left: 100px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*タスクアップ枠の背景色*/
#top-main {
  background-color: #FFF;
}

/*ログインボタンの隙間*/
.btn {
  margin-top: 5px;
}