// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-default {
  width: 150px;
}
.btn-form {
  width: 80px;
}
.btn-cancel {
   width: 132px;

}
.table {
  width: 50%;
}